*.iml
*.class
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.swp
.DS_Store
.settings
.classpath
.project
.idea
.iml
.gitignore
Thumbs.db
/target/*
/target/
/src/main/resources/test/ice-registry.properties
/src/main/resources/test/zk.properties
MANIFEST.MF
*.jar
*.log
*.flattened-pom.xml
